* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* debug rules */

/* body>header {
    background-color: yellow;
    height: 160px;
    background-color: yellow;
} */

/* header> .logo {
    height: 100px;
    width: 150px;
    background-color: brown;
} */

 /* nav, footer {
    height: 60px;
    background-color: rgb(241, 241, 147);
} */

/* main> .hero_img {
    height:400px;
    background-color: fuchsia;
}  */



/* div> .title_row { */
    /* height: 100px;
    background-color: green; */
    /* margin: 10px 0; */
/* } */



/* </debug rules */

body {
    width: 1400px;
    margin: auto;
}

.logo> img {
    width: 150px;
}

#top_nav {
    margin: 30px 0;
}
    


nav> a {
    text-decoration: none;
    color: lightslategray;
    padding: 5px;
}

.hero_img {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position:relative;
    border-radius: 10px;
}

.hero_img> section {
    padding: 50px 30px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.text_hero> h2 {
    font-size: 35px;
}



.title_row {
    margin: 40px 0;
    
}

.title_row> h2 {
    font-size: 40px;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.aside {
    width: 20%;
}

.main_content {
    width: 58%;
    margin: 0 1%;
}

.aside, .main_content {
    float:left;
    border: 1px solid black;
    height: 225px;
}

.article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.text_article> h3 {
    font-weight: bold;
    margin: 10px 0;
}
    