* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-text: #969696;
    --color-border-logo: #EBEBEB;
}
body {
    width: 1400px;
    margin: auto;
}

.logo> img {
    width: 200px;
    border-right: 1px solid var(--color-border-logo);
    padding-right: 20px;
    
    
}

#top_nav {
    margin: 30px 0;
}
    


nav> a {
    text-decoration: none;
    color: var(--color-text);
    padding: 5px;
}

.hero_img {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position:relative;
}

.hero_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
} 

.hero_img> section {
    padding: 50px 30px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.text_hero> h2 {
    font-size: 35px;
    font-weight: bolder;
}



.title_row {
    margin: 40px 0;
}

.title_row> h2 {
    font-size: 40px;
    font-weight:900;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.aside {
    width: 20%;
}

.main_content {
    width: 58%;
    margin: 0 1%;
    ß
}

.aside, .main_content {
    float:left;
}


.article img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    filter: brightness(75%);
    border-radius: 10px;
}

.article p {
    color: var(--color-text);
}
.text_article> h3 {
    font-weight: bold;
    margin: 10px 0;
}

#site_footer {
    text-align: center;
    padding: 30px 0;
}

.red {
    color: red;
}
    